.checkout-form{
    display:flex;
    flex-direction: column;
}
.checkout-form-input{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    border: none;
}
.checkout-title{
    margin: 4px;
    color: white;
}
.checkout-button{
    margin-top: 10px;
    padding: 20px;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .15s, box-shadow .15s;
}
.checkout-button:hover{
    opacity: .9;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
}

.errorMsg{
    text-align: center;
    color: white;
}

.closed{
    visibility:hidden;

}