.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    border-style: solid;
    border-color: #00c385;
    border-width: 5px;

}
.link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link{
    text-decoration: none;
    color: white;
    padding: 15px 15px;
}