.contact-wrapper{
    width: 100%;
    max-width: 40vw;
    min-height: 350px;
    margin: 40px 0;
    display: block;
    align-self: center;
    border-style: solid;
    padding: 15px;
}

.contact-title{
    color: black;
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: row;
}

.contact-desc{
    color: var(--font-light);
    font-size: 18px;
    margin-right: 20px;
}

.image{
    border-radius: 10px;
    z-index: -1;
    object-fit: cover;
    height: 40vh;
    width: 20vw;
}